.ipdiv {
    margin: 1em 0em 0em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        font-weight: bold;
        font-size: 0.8em;
    }
    ion-input {
        text-align: end;
        --padding-top: 0em;
        --padding-bottom: 0em;
        --padding-end: 1em;
        --padding-start: 1em;
    }
}

hr {
    background: var(--ion-color-light);
}

.btn-qr {
    text-transform: none;
    --border-radius: 0.2em;
    margin: 1.5em 0.6em;
}
