<ion-app>
  <ion-split-pane contentId="main-content">
    <!--The global side menu-->
    <ion-menu contentId="main-content" type="overlay">
      <!-- (ionWillOpen)="onOpenMenu($event)" (ionDidClose)="onCloseMenu()" -->
      <ion-content color="dark">
        <ion-button class="btn-qr" size="large" fill="solid" expand="block" (click)="onClickScan()">
          leer QR
        </ion-button>
        <hr>
        <div class="ipdiv">
          <div>host IP:</div>
          <ion-input inputmode="decimal" [(ngModel)]="this.constants.currentIp[0]" (ionChange)="onChangeIp($event)">
          </ion-input>
        </div>
        <hr>
        <div class="list-item" *ngFor="let ip of this.constants.currentIp" (click)="onClickLine(ip)">{{ip}}</div>
      </ion-content>


    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
