<div #elFather class="content" [ngStyle]="{'height.px': height,'width.px': width}">
    <img src="./assets/img/father.png" class="knob"
        [ngStyle]="{'top.px': pxTop,'left.px': pxLeft ,'height.px': fatherheight }">
    <div
        [ngStyle]="{'top.px': -fatherheight -5,'left.px': (width -slideWidth) / 2 ,'height.px': height,'width.px': slideWidth, 'background': colorOff}">
    </div>
    <div
        [ngStyle]="{'top.px': pxTopActive -fatherheight -5,'left.px': (width -slideWidth) / 2 ,'height.px': activeHeight ,'width.px': slideWidth, 'background': colorActive}">
    </div>
</div>