<div *ngIf="!viewMode" class="father">
  <app-father #father [width]="width" [slide-width]="5" [height]="height" [father-height]="100" [color-off]="'#001c2a'"
    [color-active]="'#04bbff'" [scale]="100" [max-decimals]="0" [input-value]="input" [isConnected]="socket.isConnected"
    (onchange)="onChangeRangeValue($event,father)">
  </app-father>
</div>

<div class="top-btns">
  <ion-menu-button class="menu-btn" color="secondary"></ion-menu-button>

  <ion-button *ngIf="!viewMode && helper.isWifiConected" class="conn-icon" fill="clear" (click)="onClickReconect()">
    <ion-icon name="globe-outline" [color]="socket.isConnected?'success':helper.appLoader.shown?'warning':'danger'">
    </ion-icon>
  </ion-button>

  <ion-button *ngIf="!viewMode && !helper.isWifiConected" class="conn-icon" fill="clear" (click)="onClickWifi()">
    <ion-icon name="wifi-outline" color="danger">
    </ion-icon>
  </ion-button>

  <ion-button *ngIf="!viewMode" class="sensor-icon" fill="clear" color="secondary" (click)="onClickMcuSensor()">
    <ion-icon name="umbrella-outline">
    </ion-icon>
  </ion-button>

  <ion-button class="conn-icon-key" fill="clear" color="secondary" (click)="onClickViewMode()">
    <ion-icon [name]="viewMode?'volume-high-outline':'keypad-outline'">
    </ion-icon>
  </ion-button>
</div>


<div *ngIf="sensorValue" class="temp_hum">
  Tª: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sensorValue.temperatura}}
  <br>
  Hum: &nbsp;&nbsp;{{sensorValue.humedad}}
</div>

<div [hidden]="viewMode" class="tool-bar">
  <ion-button fill="clear" color="dark" (click)="onClickLeft()">
    <ion-icon name="play-back-circle-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" color="dark" (click)="onClickSpace()">
    <ion-icon name="play-circle-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" color="dark" (click)="onClickRight()">
    <ion-icon name="play-forward-circle-outline"></ion-icon>
  </ion-button>

  <ion-button fill="clear" color="dark" (click)="onClickF()">
    <ion-icon name="expand-outline"></ion-icon>
  </ion-button>
</div>


<div *ngIf="viewMode==='keyboard'" class="keyboard">
  <div #btnElement *ngFor="let pad of ['◄','►',3,4,5,6,7,8]" class="pad"
    (appPress)="onClickPad(pad,$event, btnElement)">
    {{pad}}
  </div>

</div>