.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  position: absolute;
  top: 0.2em;
  left: 0.5em;
}

.slider-wrapper {
  display: inline-block;
  width: 2em;
  height: 30em;
  padding: 0;
  input {
    width: 30em;
    height: 2em;
    transform-origin: 15em 15em;
    transform: rotate(-90deg);
    background-color: var(--ion-color-primary);
  }
}

.imagen {
  position: absolute;
  height: 5em;
}


.father{
  position: absolute;
  top: 5em;
  left: 9em;
}
