.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  top: 0.4em;
  width: 2em;
  font-size: 3em;
}

.father {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  app-father {
    margin-top: -1.5em;
  }
}

.top-btns {
  position: absolute;
  width: 100%;
  top: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}

.conn-icon-key {
  --border-radius: 1em;
  font-size: 2em;
  min-width: 3em;
  min-height: 2em;
  ion-icon {
    position: absolute;
  }
}

.conn-icon {
  --border-radius: 1em;
  font-size: 2em;
  max-width: 2em;
  min-height: 2em;
  ion-icon {
    position: absolute;
  }
}

.sensor-icon {
  --border-radius: 1em;
  font-size: 2em;
  max-width: 2em;
  min-height: 2em;
  ion-icon {
    position: absolute;
  }
}

.tool-bar {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 2em;
  justify-content: space-around;
  ion-icon {
    font-size: 3.5em;
  }
  ion-button {
    min-height: 4em;
    --border-radius: 5em;
  }
}
.keyboard {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pad {
  display: flex;
  width: 40%;
  height: 1.2em;
  background: #218dbe;
  margin: 0em 0em 0.5em 0em;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  border-radius: 0.2em;
}

.temp_hum {
  position: absolute;
  bottom: 7em;
  right: 2em;
}
